*{
    margin-top: 1px;

}
body{
    font-family: 'Quattrocento', serif;
}
/*part of header starts from here*/
.header{
    background-color: skyblue;
    
}

.bottom-img{
    width: 100%;
    color: skyblue;
    height: 200px;

}
/*working with nav bar starts from here*/
nav{
    
    height: 60px;
    width: 100%;
    text-decoration: transparent;
    background-color: rgb(76, 197, 245);
    
}


nav ul{
    float: right ;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a{
    color: gray;
    font-size: 17px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: peachpuff ;
    transition: .5s;
    border-radius: 5px;

}
.checkbtn{
    font-size: 30px;
    color: gray;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px){
 
    nav ul li a{
        font-size: 16px;

    }
    @media (max-width:858px){
        .checkbtn{
            display: block;

                }
    }
    ul{
        position: fixed;
        width: 100%;
        height:100vh;
        background: transparent ;
        top: 80px;
        left: -100%;
        text-align: center;
        
        transition: all .5s;
    
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: peachpuff;

    }
    #check:checked ~ ul{
        left: 0;

    }

}
/*end of nav bar*/
.banner{
    background-color: skyblue;
    height: 83%;
    width: 100%;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;

}
/*name of website*/
.website_title {
    
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #727477;
    color: black;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 100px;
    transition: all 0.25s ease-out;
}
/*quote*/
h4{
    text-align: center;
    font-size: 15px;
   padding-top: 10px;
   color: black;
   letter-spacing: -0.07em;
   
 }
 
.website_title:hover {
    text-shadow: -16px 6px 15px#727477;
}
/*working with title ended here*/

/*button class started from here*/
.buttons{
    margin-top: 0%;
    padding-left: 30%;
    padding-bottom: 3%;

}

.btn{
    padding-top: 0px;
    background: none;
  border: 1px solid gray;
  font-size: 23px;
  padding: 10px 30px;
  font-family: "montserrat";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.button_in,.button_up{
    color: black;
  }
  
   /*creating animation effect*/
  .button_in:hover{
    background-color: peachpuff;
    border: 1px solid gray;
    border-radius: 0 0 50% 50% ;
  }
  .button_up:hover{
    background-color: peachpuff;
    border: 1px solid gray;
    border-radius:  50% 50% 0 0;
  }

/*header class part ended here*/

/*part of class about started from here*/
h2{
    padding-top: 70px;
    font-size: 50px;
    letter-spacing: 1px;
    padding-left: 20px;
}
p{
    font-size: 18px;
    padding-top: -10px;
    padding-left: 40px;
    padding-right: 70px;
    text-align: justify;
    line-height: 25px;
}
img{
    width: 300px;
    height: 300px;
    padding-left: 0px;
    padding-right: 10px;
}
/*about class ended by here*/

.list{
    padding-left: 60px;
    padding-right: 450px;
    font-size: 18px;
    text-align: justify;
    list-style-type: disc;
    
}


.members_img{
    width:200px;
    height:200px;
    margin-left: 85px;
    border-radius: 10%;
    margin-top: 20px;

}


.members_img:hover{
    color: #111; 
    box-shadow: 0 0 50px gray; 
}

h3{
    padding-top: 30px;
    font-size: 26px;
    margin-left: 100px;
}
@media (max-width: 1080px){

    .members_img{
        width:  200px;
        height: 200px;
        margin-left: 45px;
    
}
h3{
    margin-left: 75px;
}
}


footer {
    background-color: hsl(228, 6%, 16%);
    width: 100%;
    
}

.sec-1 {
    padding: 30px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    flex-direction: row;

}

.about {
    width: 100%;
    margin-bottom: 20px;
}

.sec-1 h2 {
    color: #d3d3d3;
    text-transform: uppercase;
    font-size: 18px;
    
}

.about p {
    text-align: justify;
    color: #808080;
    line-height: 20px;
    margin-top: 10px;
}

.sec-1 ul {
    list-style-type: none;
}

.sec-1 ul li {
    padding: 4px;
}

a {
    color: #808080;
    transition: 300ms;
    text-decoration: none;
}

a:hover {
    color: #ffa500;
}

.new_span{
    color: #808080;
}

i {
    color: #808080;
    margin-right: 10px;
    font-size: 20px;
}

.sec-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

.sec-2 p {
    color: #808080;
    font-size: 24px;
    padding: 0;
}

.sec-2 a {
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
    display: inline-block;
    padding: 10px 25px;
    color: #ffffff;
    background-color: #ff0000;
    
}

.sec-2 a:hover {
    background-color: orange;
}

.sec-3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.sec-3 ul {
    list-style-type: none;
}

.sec-3 ul li {
    border-radius: 50%;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    display: inline-block;
    
}

.sec-3 ul li i {
    color: white;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
}

.sec-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
}

.sec-3 ul li:nth-child(2):hover {
    background-color: #55acee;
}

.sec-3 ul li:nth-child(3):hover {
    background-color: #dc20e2;
}

.sec-3 ul li:nth-child(4):hover {
    background-color: #ec3838;
}

.sec-3 ul li:nth-child(5):hover {
    background-color: #3b5999;
}

.sec-4 {
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 30px;
}

.sec-4 p {
    color: #808080;
    position: relative;
}

.sec-4 p::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: -10px;
    background-color: #ffff00;
    transition: all 300ms;
}

.sec-4 p:hover::after {
    width: 100%;
}

hr {
    opacity: 0.2;
}



@media (max-width: 499px) {
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
    width: 100%;
    height: 100%;
    font-size: 40px;
    
}

footer {
    width: 100%;
    background-color: #26272b;
}

.sec-1 {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.about {
    width: 100%;
}

.sec-1 h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #d3d3d3;
    text-transform: uppercase;
    
}

.about p {
    text-align: justify;
    color: #808080;
    line-height: 20px;
    margin-top: 10px;
}

.sec-1 ul {
    list-style-type: none;
}

.sec-1 ul li {
    padding: 4px;
}

a {
    transition: 300ms;
    text-decoration: none;
    color: #808080;
    
}

a:hover {
    color: #ffa500;
}

span {
    color: #808080;
}

i {
    margin-right: 10px;
    font-size: 20px;
    color: #808080;
    
}
.sec-2 {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.sec-2 p {
    color: gray;
    font-size: 24px;
    padding: 0;
}

.sec-2 a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: red;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 18px;
}

.sec-2 a:hover {
    background-color: orange;
}

.sec-3 {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.sec-3 ul {
    list-style-type: none;
}

.sec-3 ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 10px;
}

.sec-3 ul li i {
    color: white;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
}

.sec-3 ul li:nth-child(1):hover {
    background-color: #3b5999;
}

.sec-3 ul li:nth-child(2):hover {
    background-color: #55acee;
}

.sec-3 ul li:nth-child(3):hover {
    background-color: #dc20e2;
}

.sec-3 ul li:nth-child(4):hover {
    background-color: #ec3838;
}

.sec-3 ul li:nth-child(5):hover {
    background-color: #3b5999;
}
.sec-4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

.sec-4 p {
    color: gray;
    position: relative;
}

.sec-4 p::after {
    background-color: yellow;
    transition: all 300ms;
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10px;
    
}
hr {
    opacity: 0.2;
}
.sec-4 p:hover::after {
    width: 100%;
}
}
@media screen and (max-width:999px){
.container{
width: 100%;
height: 70%;

}
}

